@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0%;
    padding: 0%;
}
.button{
    background-color: black;
    color: white;
}
.heading {
    font-size: 2.5rem; 
    color: #ffffff;    
    font-weight: bold; 
    text-align: center; 
    margin-left: 150px; 
    margin-right: 150px; 
    margin-top: 30px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-family: 'Arial', sans-serif;
    background-color: rgb(127, 206, 255);
  }
 